*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Amatic SC', cursive;
}
html{
    background-image: linear-gradient(rgb(0,0,0,0.5), 
    rgb(0,0,0,0.5)), url(beach-7059537.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: green;
    z-index: 5;
    box-shadow: 0 0 10px rgb(0, 0, 0);

}
header .logo{
    position: relative;
    max-width: 80px;
    border-radius: 25px;
}
header ul{
    position: relative;
    display: flex;
    align-items: center;

}

header ul li{
    list-style: none;
    margin: 0 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 20px;
}
header ul li:hover{
    color: #000;
    transform: scale(1.1);
    transition: 0.3s;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    background-color: red;


}

header ul li a{
    display: inline-block;
    color: white;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    transition: 0.3s;
    padding: 10px 30px 10px 10px; 
    border-radius: 20px;


}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 90px;
    padding: 100px 0 0 70px;
    flex-wrap: wrap;
    max-width: 700x;
}
.content .textBox{
    position: relative;
    max-width: 600px;
    margin-top: 30px;
}

.content .textBox h2{
    margin-top: 30px;
    color: red;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
    margin-left: 15px;
    text-shadow: 0 0 10px rgb(0, 0, 0);

}
.content .textBox h2 span{
    color:  white;
    font-size: 60px;
    font-weight: 900;
    text-shadow: 0 0 10px rgb(0, 0, 0);

}

.content .textBox p{
    margin-top: 40px;
    margin-left: 15px;
    background-color: #3612ea;
    padding: 20px;
    color: white;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 5px;

}

.content .textBox a{
    display: inline-block;
    margin-left: 10px;
    margin-top: 20px;
    padding: 8px 20px;
    background: green;
    color: #fff;
    text-decoration: none;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    box-shadow: 0 0 10px rgb(0, 0, 0);

}

.content .imgBox{
    position: relative;
    max-width: 500px;
    margin-left: 15px;
    margin-right: 80px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 5px;
    overflow: hidden;
}
.imgBox{
    margin-top: 200px;
}




.content .imgBox img{
    max-width: 400px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    transition: 0.3s;


}

.title{
    color: white;
    margin-top: 180px;
    font-size: 45px;
    text-align: center;
    margin-bottom: 50px;
    text-shadow: 0 0 10px rgb(0,0, 0);
    font-weight: 900;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 20px;
    padding: 20px auto;
    background-color:  #3612ea;
}
.thumb{
   
    transform: translate(-50px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    cursor: pointer;
    text-shadow: 0 0 10px rgb(0,0, 0);
    margin-left: 80px;
    flex-wrap: wrap;
    

}

.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
    
}
.thumb li:hover
{
    transform: translateY(-15px);
}

.thumb li img{
    max-width: 160px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    transition: 0.5s;
}
h3{
    text-align: end;
    text-shadow: 0 0 10px rgb(0, 0, 0);

}
.sci{
    position: absolute;
    left: 20px;
    top: 50%;
    color: red;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin-top: 125px;

}

.sci li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 40px;

}

.sci li a {
    display: inline-block;
    margin-left: 1299px;
    margin-top: 20px;
    transition: 0.5s;
    transform: scale(0.6);
    filter: invert(1);
}
.sci li a:hover{
    transform: scale(1);
    filter: invert(0);
    transition: 0.5s;

}

.container-card{
   margin-top: 200px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.card li {
    width: 200px;
    height: 200px;
    background-color: #3612ea;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: 50px;
    box-shadow: 0 0 10px rgb(0, 0, 0);

}


